@model GenreDTO
@{
    ViewData["Title"] = "Add Genre";
}

<div class="container-md d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-center enchantedLand">@ViewData["Title"]</h1>
    <a asp-action="Genres" asp-controller="Genre" class="btn btn-primary">Back</a>
    <div class="border my-2 px-3 py-2 rounded shadow gredientCard" style="width:100%; max-width:400px;">
        <form asp-action="AddGenre">
            <div class="my-2">
                <label class="fw-semibold">Genre</label>
                <input type="text" class="form-control" asp-for="GenreName" />
                <span asp-validation-for="GenreName" class="text-danger"></span>
            </div>
            <div class="my-2">
                <button type="submit" class="btn btn-info">Add</button>
            </div>
        </form>
    </div>
</div>
